@font-face {
    font-family: 'XXIICentarMedium';
    src: url("fonts/29DE23_0_0.eot");
    src: url("fonts/29DE23_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/29DE23_0_0.woff") format("woff"), url("fonts/29DE23_0_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'XXIICentarRegular';
    src: url("fonts/29DE23_1_0.eot");
    src: url("fonts/29DE23_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/29DE23_1_0.woff") format("woff"), url("fonts/29DE23_1_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'XXIICentarThin';
    src: url("fonts/29DE23_2_0.eot");
    src: url("fonts/29DE23_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/29DE23_2_0.woff") format("woff"), url("fonts/29DE23_2_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'XXIICentarExtraThin';
    src: url("fonts/29DE23_3_0.eot");
    src: url("fonts/29DE23_3_0.eot?#iefix") format("embedded-opentype"), url("fonts/29DE23_3_0.woff") format("woff"), url("fonts/29DE23_3_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }